<image src = 'images/LED.png' alt="LED" style="width:180px;height:180px;">


<form action="/led/on" method="post">
  <button type="submit">LED On </button>
    <button type="submit" formmethod="post" formaction="/led/off">LED Off</button>
</form>

<a>Led Status: <%=status %></a>

